<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.takephoto">

    <!-- Izin untuk mengakses kamera -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Izin penyimpanan untuk Android 10 dan lebih rendah -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="TakePhoto"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:requestLegacyExternalStorage="true">

        <!-- HomeActivity sebagai launcher -->
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity tanpa intent-filter karena dipanggil secara explicit -->
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity android:name=".CameraActivity" />
        <activity android:name=".PhotoGalleryActivity" />
        <activity android:name=".OilySkinInfoActivity"/>
        <activity android:name=".DrySkinInfoActivity"/>
        <activity android:name=".NormalSkinInfoActivity"/>

    </application>

</manifest>